.menu {
    --menu-max-width: 200px;
    --menu-min-width: 52px;

    @apply flex flex-col justify-start;

    gap: 24px;

    z-index: 999;
    grid-area: aside;
    position: relative;

    border-right: calc(var(--border-width) * 2) solid var(--secondary);

    max-width: var(--menu-max-width);
    min-width: var(--menu-min-width);

    padding-top: 70px;
    padding-bottom: var(--base-padding);

    transition-duration: 0.5s;
}

[data-theme="LAND-DARK"] .menu {}

[data-theme="LAND-LIGHT"] .menu {}

[data-theme="SEA-DARK"] .menu {
    background-color: var(--secondary-dark);
}

[data-theme="SEA-LIGHT"] .menu {}

.menu ul li {
    @apply flex flex-row justify-center items-center;
}

.menu ul li a {
    --size: var(--menu-min-width);

    height: var(--size);
    max-height: var(--size);
    min-height: var(--size);

    width: var(--size);
    max-width: var(--size);
    min-width: var(--size);

    background-color: var(--anchor-background-color, transparent);

    border-left: var(--anchor-border-width, 0px) solid var(--anchor-border-color, transparent);
}

.menu ul li a:hover {
    --anchor-background-color: color-mix(in srgb, var(--secondary), black 90%);
}

.menu ul li a[data-active] {
    --anchor-border-width: 4px;
}

[data-theme="LAND-DARK"] .menu ul li a[data-active] {}

[data-theme="LAND-LIGHT"] .menu ul li a[data-active] {}

[data-theme="SEA-DARK"] .menu ul li a[data-active] {
    --anchor-background-color: color-mix(in srgb, var(--secondary), black 60%);
    --anchor-border-color: var(--secondary);
}

[data-theme="SEA-LIGHT"] .menu ul li a[data-active] {}

.menu:not([data-toggled]) {
    @apply items-center;
}

.menu:not([data-toggled]) ul li span {
    display: none;
}

.menu[data-toggled] {
    --px: calc(var(--container-padding) - 8px);

    @apply items-start;

    width: var(--max-width);
}

.menu[data-toggled] ul {
    opacity: 1;
    width: 100%;
}