table {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
}

table th,
table td {
    @apply px-3
}

[data-theme="LAND-DARK"] table {}

[data-theme="LAND-LIGHT"] table {}

[data-theme="SEA-DARK"] table {
    --table-border-color: var(--primary-light);
    --table-cell-border-color: var(--primary-light);
}

[data-theme="SEA-DARK"] table tbody {
    background-color: color-mix(in srgb, var(--primary-dark), white 12%);
}

[data-theme="SEA-DARK"] table tbody tr:hover {
    background-color: color-mix(in srgb, var(--primary-dark), white 10%);
}

[data-theme="SEA-DARK"] table tbody tr td:hover {
    background-color: color-mix(in srgb, var(--primary-dark), white 8%);
}

[data-theme="SEA-DARK"] table tfoot {
    background-color: color-mix(in srgb, var(--primary-dark), black 22%);
}

[data-theme="SEA-DARK"] table thead {
    background-color: color-mix(in srgb, var(--primary-dark), black 22%);
}

[data-theme="SEA-LIGHT"] table {}