#root[data-page="set-credentials"] main > form {
    @apply rounded-lg p-2;
    
    width: 50%;
    background-color: var(--base-background);
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: solid;
}

#root[data-page="set-credentials"] main > form  fieldset > * {
    width: 100%;
}