.page {
    @apply m-auto;
}

.page form {
    @apply flex flex-col justify-center items-center gap-2 w-full;
    background-color: var(--base-background);
    border: var(--border-width) solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    min-height: 100%;
}

.page form label,
.page form label span,
.page form button[data-variant="text"],
.page form input,
.page form textarea,
.page form select {
    font-size: 12px;
}

.page form a,
.page form ul li {
    font-size: 12px;
}

.page form button:not([data-variant="text"]) {
    @apply w-full;
}

.page form header {
    @apply w-full;
}

.page form header * {
    margin-right: auto;
    text-align: left;
}

.page form header p {
    @apply my-2;
    opacity: 0.7;
}

.page form hr {
    --height: 1px;
    --width: 100%;

    background-color: var(--secondary);
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    width: var(--width);
    opacity: 0.7;
}

.page form fieldset {
    @apply flex flex-col justify-center items-start gap-1 w-full;
}

.page form fieldset *:not(button[data-variant="text"]) {
    @apply w-full;
}

.page form ul {
    @apply flex flex-col justify-start items-start gap-1;
}

.page form ul li {
    @apply italic;
    padding: 0px 5px;
    border-radius: 5px;
}

.page main[data-view="panel"] {
    grid-template-columns: 1.5fr 2fr;
}

.page {
    grid-template-rows: 1vh;
    grid-template-areas:
        "main"
    ;
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (min-width: 1081px) {
    
}