fieldset {
    border: 0;
    border-radius: 8px;
    padding: 20px;
}

[data-theme="LAND-DARK"] fieldset {}

[data-theme="LAND-LIGHT"] fieldset {}

[data-theme="SEA-DARK"] fieldset {
    background-color: color-mix(in srgb, var(--primary-dark), black 40%);
}

[data-theme="SEA-LIGHT"] fieldset {}

fieldset legend {
    @apply font-bold;
}