input {
    padding: 0 12px;
}

input,
select {
    --h: 40px;
    
    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);
}

input[type="checkbox"],
input[type="radio"] {
    --h: 20px;
}

textarea {
    padding: 12px;
}

[data-theme*="DARK"] input,
[data-theme*="DARK"] select,
[data-theme*="DARK"] textarea {
    border-bottom: 1px solid var(--input-element-border-color, var(--base-input-element-border-color, var(--neutral-light)));
    background-color: var(--background-color);
}

[data-theme="SEA-DARK"] input,
[data-theme="SEA-DARK"] select,
[data-theme="SEA-DARK"] textarea {
    --base-input-element-border-color: var(--primary-light);
}