.list {
    --list-item-border-radius: 8px;
    --list-item-padding: 4px;

    composes: list from "../list.module.css";

    --img-size: 152px;

    padding: var(--list-item-padding);

    border-radius: var(--list-item-border-radius);

    background-color: var(--base-background-color)
}

.list li {
    @apply flex flex-row justify-start items-center gap-3;

    border-radius: inherit;
}

.list li:last-child {
    @apply font-bold p-3 text-lg;

    border: 1px dashed var(--price-tag-border-color, var(--secondary));

    justify-content: space-between;
}

[data-theme="LAND-DARK"] .list li:last-child {}

[data-theme="LAND-LIGHT"] .list li:last-child {}

[data-theme="SEA-DARK"] .list li:last-child {
    background-color: var(--primary);
}

[data-theme="SEA-LIGHT"] .list li:last-child {}

.list li:last-child * {
    color: var(--base-text-contrast-color);
}

.list li div[data-type="thumbnail"] {
    height: 52px;
    width: var(--img-size);
    background-size: cover;
    border-radius: var(--list-item-border-radius);
}