.list {
    composes: list from "./list.module.css";
}

.list li:not([data-type="filter"], [data-empty])  {
    @apply flex flex-row justify-start items-center w-full gap-2;
}

.viewport {
    composes: list;

    --h: 100%;
    
    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);
}

.viewport li {
    --h: inherit;
    
    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);
}

.viewport li[data-empty] {
    @apply flex flex-col justify-center items-center w-full gap-2;
}

.viewport .card  {
    --w: 100%;

    border-radius: 0px;
    border-width: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--container-padding);
    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);
    width: var(--w);
    max-width: var(--w);
    min-width: var(--w);
}

.viewport .card div[data-area]:not([data-area="video"]) {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}