div.filter input[type="number"] {
    --w: 80px;

    text-align: center;
    width: var(--w);
    min-width: var(--w);
    max-width: var(--w);
}

table#staff-table {
    @apply w-full;
}

table#staff-table input, 
table#staff-table select {
    background-color: transparent;
}

table#staff-table input:not(form input), 
table#staff-table select:not(form select) {
    padding: 0px 5px;
    border: none;
    border-radius: 0px;
}

table#staff-table input:not(form input) {
    border-bottom: var(--border-width) solid var(--border-color);   
}

table#staff-table input[type="number"] {
    text-align: center;
    max-width: 80px;
}

table#staff-table tfoot tr {
    border-top: var(--border-width) solid var(--secondary);
}
table#staff-table tfoot tr td {
    padding-bottom: 10px;
    padding-top: 10px;
}

table#staff-table thead th {
    padding: 10px;
    border-bottom: var(--border-width) solid var(--secondary);
}

table#staff-table tfoot tr td,
table#staff-table thead tr:nth-child(1) th,
table#staff-table thead tr:nth-child(2) th {
    padding-right: 0px;
    padding-left: 0px;
}

table#staff-table thead tr:last-of-type th:first-child,
table#staff-table tbody tr:not(:has(td[data-singlerow], td[data-loadingrow])) td:first-child {
    border-right: var(--border-width) solid var(--secondary);
}

table#staff-table tbody tr:not(:has(td[data-singlerow])) td:nth-child(5) {
    border-left: var(--border-width) solid var(--secondary);
    border-right: var(--border-width) solid var(--secondary);
}

table#staff-table tbody tr:not(:has(td[data-singlerow])):hover {
    cursor: pointer;
    opacity: 0.3;
}

table#staff-table tbody tr:not(:has(td[data-singlerow])) td {
    text-align: left;
    padding: 10px;
}

table#staff-table tbody tr td[data-singlerow]:has(form) {
    border-bottom: var(--border-width) solid var(--border-color);
}

table#staff-table tbody tr:not(:last-of-type) td:not(:first-of-type) {
    border-bottom: var(--border-width) dotted var(--border-color);
}

table#staff-table tbody tr td:not([data-singlerow]):nth-child(1),
table#staff-table tbody tr td:not([data-singlerow]):nth-child(4) {
    text-align: right;
}

table#staff-table tbody tr td {
    white-space: nowrap;
}

table#staff-table tbody td[data-loadingrow] {
    border-bottom: var(--border-width) solid var(--secondary);
    border-top: var(--border-width) solid var(--secondary);
}

table#staff-table tbody td[data-singlerow]>div {
    padding: 50px;
}

table#staff-table thead tr th form {
    border: var(--border-width) solid var(--border-color);
    border-radius: 10px;
}