.tag {
    @apply flex flex-row justify-center items-center gap-2;
    
    padding: var(--tag-padding-y, 2px) var(--tag-padding-x, 5px);

    border-color: var(--tag-border-color, var(--border-color));
    border-width: var(--tag-border-width, var(--border-width));
    border-style: var(--tag-border-style, solid);
    border-radius: var(--tag-border-radius, 5px);

    color: var(--tag-text-color, black);
    
    background-color: var(--tag-background-color, transparent);
}

.danger {
    composes: tag;

    --tag-border-color: #f87171;

    --tag-text-color: #7f1d1d;

    --tag-background-color: #fee2e2;
}

/* TODO: Unimplemented style > important */
.important {
    composes: tag;
}

.primary {
    composes: tag;

    --tag-border-color: var(--secondary);

    --tag-text-color: var(--secondary);

    --tag-background-color: transparent;
}

.primary:hover {
    --tag-text-color: #fff;

    --tag-background-color: var(--secondary);
}

/* TODO: Unimplemented style > secondary */
.secondary {
    composes: tag;
}

/* TODO: Unimplemented style > selected */
.selected {
    composes: tag;
}

/* TODO: Unimplemented style > success */
.success {
    composes: tag;
}

/* TODO: Unimplemented style > warning */
.warning {
    composes: tag;
}