dialog[class*="Flasher"][data-event="PUSH_NOTIFICATION_REQUEST"] main {
    @apply flex flex-col justify-start items-start;
}

dialog[class*="Flasher"][data-event="PUSH_NOTIFICATION_REQUEST"] main p,
dialog[class*="Flasher"][data-event="PUSH_NOTIFICATION_REQUEST"] main ul li {
    text-align: center;
}

dialog[class*="Flasher"][data-event="PUSH_NOTIFICATION_REQUEST"] main ul {
    @apply border p-2 rounded-lg my-2 w-full;
    
    border-color: var(--border-color);
}

dialog[class*="Flasher"][data-event="PUSH_NOTIFICATION_REQUEST"] main ul li {
    @apply font-bold py-3 w-full;
    
    border-color: inherit;
}

dialog[class*="Flasher"][data-event="PUSH_NOTIFICATION_REQUEST"] main ul li:not(:last-of-type) {
    border-bottom-width: var(--border-width);
}