#root[data-page="back-office"] {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 70px auto;
    grid-template-areas:
        "aside application-nav"
        "aside application-body";
}

#root[data-page="back-office"]>main {
    padding: var(--base-padding) 0;
    
    transition: padding 1s ease-in-out;
}

#root[data-page="back-office"]>main>section {
    border-radius: 12px;

    padding: var(--base-padding);
}

[data-theme="LAND-DARK"] #root[data-page="back-office"]>main>section {}

[data-theme="LAND-LIGHT"] #root[data-page="back-office"]>main>section {}

[data-theme="SEA-DARK"] #root[data-page="back-office"]>main>section {
    background-color: color-mix(in srgb, var(--primary-dark), black 40%);
}

[data-theme="SEA-LIGHT"] #root[data-page="back-office"]>main>section {}

#root[data-page="back-office"] main>section:not(:last-of-type) {
    @apply mb-5;
}

#root[data-page="back-office"] section:not([class]) header {
    @apply mb-3;
}

#root[data-page="back-office"] section header select {
    background-color: transparent;
}

@media only screen and (min-width: 344px) {}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {
    #root:has(aside[data-type="menu"][data-toggled="true"]) main {
        --px: 52px;
    }
}

@media only screen and (min-width: 1366px) {}