body:has(#root[data-page="checkout"]) {
    background-color: var(--base-background);
}

#root[data-page="checkout"] div[class*="restaurant"] {
    border-bottom-width: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#root[data-page="checkout"] div[class*="restaurant_event"] {
    border: var(--border-width) solid var(--border-color);
    border-top-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#root[data-page="checkout"] header,
#root[data-page="checkout"] form footer {
    @apply flex flex-row justify-start items-center gap-2;

    height: var(--application-nav-bar-height);
    min-height: var(--application-nav-bar-height);
    max-height: var(--application-nav-bar-height);
}

#root[data-page="checkout"] h1 {
    --padding: 30px;

    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

#root[data-page="checkout"] section[data-type] form {
    --padding: 20px;

    @apply flex flex-col justify-start items-start gap-3;
    grid-area: form;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

#root[data-page="checkout"] section[data-type] form footer {
    border-top: var(--border-width) solid var(--border-color);
}

#root[data-page="checkout"] section[data-type] form fieldset {
    @apply flex flex-col justify-start items-start gap-2 w-full;
}

#root[data-page="checkout"] section[data-type] form fieldset legend {
    @apply font-bold italic;
    margin-bottom: 5px;
}

#root[data-page="checkout"] table[class*="cart"] {
    grid-area: cart;
    border: var(--border-width) solid var(--border-color);
    height: fit-content;
}

#root[data-page="checkout"] table[class*="cart"] tbody tr:not(:first-child) {
    font-size: 14px;
}

@media only screen and (min-width: 500px) {}

@media only screen and (max-width: 650px) {}

@media only screen and (min-width: 651px) {}

@media only screen and (max-width: 750px) {}

@media only screen and (min-width: 751px) {}

@media only screen and (max-width: 1080px) {
    #root[data-page="checkout"] main {
        --padding-y: 20px;
        --padding-x: 150px;
    }
}

@media only screen and (min-width: 1081px) {
    #root[data-page="checkout"] main {
        --padding-y: 20px;
        --padding-x: 150px;
    }
}

@media only screen and (max-width: 1499px) {}

@media only screen and (min-width: 1500px) {}