.button {
    --xs-size: 20px;
    --s-size: 40px;
    --m-size: 70px;
    --l-size: 100px;
    --xl-size: 200px;

    --button-height: var(--m-size, 40px);
    --button-width: auto;

    --button-padding: 12px;

    --button-border-width: 1px;
    --button-border-radius: 10px;
    
    height: var(--button-height);
    width: var(--button-width);

    border-width: var(--button-border-width, 1px);
    border-radius: var(--button-border-radius, 1px);
    border-style: var(--button-border-style, solid);
    border-color: var(--button-border-color, transparent);

    background-color: var(--button-background-color, transparent);

    color: var(--button-text-color, transparent);
    
    padding: 0 var(--button-padding-x, var(--button-padding-x-left), var(--button-padding)) var(--button-padding-x, var(--button-padding-x-right), var(--button-padding)) 0;

    cursor: pointer;
}

.circle {
    composes: button;

    @apply rounded-full;

    max-height: var(--button-height);
    min-height: var(--button-height);
    max-width: var(--button-height);
    min-width: var(--button-height);
}

.rect {
    composes: button;

    @apply rounded-lg;
}

.xs .s .m .l .xl {
    background-size: cover;
}

.xs {
    --button-height: var(--xs-size);
}

.s {
    --button-height: var(--s-size);
}

.m {
    --button-height: var(--m-size);
}

.l {
    --button-height: var(--l-size);
}

.xl {
    --button-height: var(--xl-size);
}

.danger {
    composes: button;
}

.important {
    composes: button;
}

.primary {
    composes: button;
}

.secondary {
    composes: button;
}

.selected {
    composes: button;
}

.success {
    composes: button;
}

.tag {
    composes: tag from "../tag.module.css";
}

.text {
    composes: button;

    --button-padding: 7px;

    --button-border-radius: 0px;

    @apply flex flex-row justify-center items-center gap-2;
    
    font-weight: 700;
    
    white-space: nowrap;

    border-top: none;
    border-left: none;
    border-right: none;
}

.warning {
    composes: button;
}