.button {
    composes: button from "./button.module.css";

    --button-width: var(--button-height);
    
    @apply flex flex-col justify-center items-center;

    max-width: var(--button-width);
    min-width: var(--button-width);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    outline: calc(3 * var(--button-border-width)) var(--button-border-color);
}

.button>div {
    --size: 60%;

    @apply flex flex-row justify-center items-center;
    @apply opacity-40 hover:opacity-80;
    @apply rounded-full bg-white;

    height: var(--size);
    max-height: var(--size);
    min-height: var(--size);
    width: var(--size);
    max-width: var(--size);
    min-width: var(--size);
}

/* TODO: Unimplemented style > danger */
.danger {
    composes: button;
}

/* TODO: Unimplemented style > important */
.important {
    composes: button;
}

.primary {
    composes: button;

    --button-background-color: #e6e6e6;
}

[data-theme*="DARK"] .primary {
    --button-border-color: var(--neutral-dark);
}

/* TODO: Unimplemented style > secondary */
.secondary {
    composes: button;
}

/* TODO: Unimplemented style > selected */
.selected {
    composes: button;
}

/* TODO: Unimplemented style > success */
.success {
    composes: button;
}

/* TODO: Unimplemented style > warning */
.warning {
    composes: button;
}