.card {
    composes: card from "./card.module.css";
    
    --padding: 10px;

    @apply justify-center items-center;
    
    display: grid;
    column-gap: var(--card-padding);
    grid-template-areas:
        "thumbnail name"
        "thumbnail contact"
        "thumbnail tags"
    ;

    border-color: var(--card-border-color, var(--neutral));
    border-radius: var(--card-border-radius, 7px);
    border-style: var(--card-border-style, solid);
    border-width: var(--card-border-width, var(--border-width));

    background-color: var(--card-background-color, white);

    padding: var(--card-padding, var(--padding));
}

.card a[data-type="name"],
.card h3 {
    grid-area: name;
}

.card div[data-section="contact"] {
    @apply flex flex-row justify-start items-center gap-3 w-full;
    grid-area: contact;
}

.card div[data-section="contact"] span {
    @apply flex flex-row justify-start items-center gap-1;
}

.card div[data-section="tags"] {
    @apply flex flex-row justify-start items-center gap-2;
    grid-area: tags;
}

.card button {
    grid-area: thumbnail;
}

/* TODO: Unimplemented style > danger */
.danger {
    composes: card;
}

/* TODO: Unimplemented style > important */
.important {
    composes: card;
}

/* TODO: Unimplemented style > primary */
.primary {
    composes: card;
}

/* TODO: Unimplemented style > secondary */
.secondary {
    composes: card;
}

/* TODO: Unimplemented style > selected */
.selected {
    composes: card;
}

/* TODO: Unimplemented style > success */
.success {
    composes: card;
}

/* TODO: Unimplemented style > warning */
.warning {
    composes: card;
}